scikit-learn
pandas
numpy
joblib
datasets
matplotlib
nltk
torch
transformers
fastapi
uvicorn==0.30.6
pydantic
streamlit
peft
accelerate
huggingface_hub
python-dotenv
tiktoken
wandb
sentencepiece
symspellpy
whisper_normalizer
sentence-transformers
chromadb
faiss-cpu==1.13.2
wikipedia-api
wikipedia
openai
google-genai
