scikit-learn
pandas
numpy
joblib
datasets
matplotlib
nltk
torch
transformers
fastapi 
uvicorn
pydantic
streamlit
peft
accelerate
python-dotenv
tiktoken
wandb
sentencepiece
symspellpy
whisper_normalizer
sentence-transformers
chromadb
faiss-cpu==1.13.2
wikipedia-api
wikipedia
openai
google-genai